.navbar {
    width: 100%;
    text-align: center;

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 60px;
    overflow: hidden;
    background-color: white;
  }

  li a {
    float: right;
    display: block;
    font-family:'Raleway';
    font-weight: 400;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  .logo{
    float: left;
    display: block;
    padding: 50px 70px;
    
}